@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 20%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  font-size: 16px;
  background-color: var(--Very-Light-Gray);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
  align-items: center;
  width: 100%;
  background-color: var(--White);
  box-shadow: 0.5px 0.5px 10px 2px rgba(0, 0, 0, 0.3);
}

.header div {
  padding: 2rem 1.5rem;
}
.mode {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* search */

.search {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-left: 3rem;
  gap: 2rem;
  margin: 2rem;
  color: var(--Dark-Gray);
  background-color: var(--White);
  box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, 0.2);
}
.search-input {
  width: 80%;
  border: none;
  padding: 1rem 0;
  font-size: 1rem;
}
.search-input:focus {
  outline: none;
}

/* card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 90%; */
  /* margin-left: 1.8rem; */
}
.card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, 0.2);
}
img {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-img {
  width: 100%;
}
.card-info {
  background-color: var(--White);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.3rem;
}
.link {
  text-decoration: none;
  color: black;
}
.dropdown {
  width: 50%;
  padding: 1rem;
  margin: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--White);
  box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, 0.2);
}
.dropdownAll {
  display: flex;
  flex-direction: column;
}
/* 2nd page */

.backBtn {
  margin: 2rem 2rem;
}

.backBtn button {
  text-align: center;
  background-color: var(--white);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detail-container {
  width: 90%;
  margin: 2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 1rem;
}
.img-details {
  margin: 2rem;
  margin-top: 0;
}
.extra-details {
  margin: 2rem 0;
}
.borders-name span {
  border: 1px solid black;
  padding: 0.3;
  border-radius: 0.2rem;
}
.notFound {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 6rem 0;
}

@media (min-width: 990px) {
  .dropdownAll {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  /* 2nd page */
  .img-details {
    display: flex;
    gap: 9rem;
  }
  .detail-container {
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    background-color: var(--Very-Light-Gray);
  }

  .img-details img {
    width: 50%;
    height: auto;
  }
  .more-about {
    /* background-color: red; */
    display: flex;
    gap: 50px;
    padding: 2rem 0;
  }
  .extra-details {
    margin: 0;
  }
}
